html{
    background-image: url(.png);
    background-color: rgb(208,204,204);
    font-family: Papyrus;
}

body{
    position: relative;
    margin: 0px;
    min-height: 100%;
    padding-bottom: 6.74rem;
}

h1 {
    text-align: center;
    color: #333;
    }

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left:30px;
    padding-right:30px;
    border-bottom: 1px solid black;
    background-color: rgb(208, 204, 204);
}