html{
    background-image: url(.png);
    background-color: rgb(208,204,204);

}

main{
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115;
    padding-left: 30;
    padding-right: 30;
    border-bottom: 1px solid black;
    background-color: rgb(208,204,204);

}

a{
    text-decoration: none;
    color: black;
}

.container{
    margin-top: -30;
    width: 1600;
    height: 800;
    display: flex;
    justify-content:space-between;
    
}

.container-left{
    width: 226;
    height: 800;
    border: 2px solid rgb(158, 154, 154);
    background-color: antiquewhite;

}

.container-right{
    width: 800;
    height: 1102;
    border: 1px solid rgb(158, 154, 154);
    margin-right: 385;
    background-color: antiquewhite;
}

.minibox{
    border: 1px solid rgb(158, 154, 154);
}

.identidade>strong{
    width: 226px;
    height: 18px;
    display: flex;
    justify-content: center; 
    padding-top: 10px;   
}

.pfp{
    width: 226px;
    height: 226px;
}

.minibox>b{
    display: flex;
    justify-content: center;
    padding-top: 18;
    padding-bottom: 10;

}

#biografia{
    display: flex;
    justify-content: center;
    padding-top: 9;
    padding-bottom: 10;
    padding-left: 10;
    width: 780;
    height: 118;

}

.status{

    width: 799;
    height: 200;

}

.bolaStatusVerde::before{
    width: 12;
    height: 12;
    border-radius: 1rem;
    display: block;
    content: ' ';
    background-color: #2db039;
    position: absolute;
    margin-left: -20;
    margin-top: 2;
}

.bolaStatusAzul::before{
    width: 12;
    height: 12;
    border-radius: 1rem;
    display: block;
    content: ' ';
    background-color: #26448f;
    position: absolute;
    margin-left: -20;
    margin-top: 2;
}

.bolaStatusVermelho::before{
    width: 12;
    height: 12;
    border-radius: 1rem;
    display: block;
    content: ' ';
    background-color: #a12f31;
    position: absolute;
    margin-left: -20;
    margin-top: 2;
}

.bolaStatusAmarelo::before{
    width: 12;
    height: 12;
    border-radius: 1rem;
    display: block;
    content: ' ';
    background-color: #e7b715;
    position: absolute;
    margin-left: -20;
    margin-top: 2;
}

.report1{
    display: flex;
    justify-content: space-evenly;
    width: 800;
    height: 60;
}

.report2{
    display: flex;
    justify-content: space-evenly;
    width: 800;
    height: 60;
}

.grafico{
    width: 800;
    height: 200;
}

.info{
    display: flex;
    justify-content: center;

}

#estatistica{
    margin-top: 10px;
    width: 429px;
    height: 27px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    border: 2px solid rgb(158, 154, 154);
}


.area-barras{
    height: 180px;
    display: flex;
    padding-top: 20px;
}

.divisao{
    width: calc(100% / 10);
    height: 175px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.barra{
    width: 30%;
    border-radius: 4px 4px 0 0;
    background-color: rgb(103,123,148);
}

.quantidade{
    text-align: center;
    margin-top: -20px;
}

.legenda{
    height: 20px;
    display: flex;
    text-align: center;
}

.notas{
    width: calc(100% / 10);
}

.personagens>b{
    padding-top: 60;
    display:flex;
    justify-content:center;
    padding-bottom: 30px;
}

.imagens{
    display: grid;
    justify-content: space-around;
    border-radius: 50%;
}


#favchar1{
    max-width: 210;
    max-height: 210;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-bottom: 25px;
}


#favchar2{
    max-width: 210;
    max-height: 210;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-bottom: 25px;
}


.animesfavoritos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 800;
    height: 350;
    justify-content: space-around;
    margin-top: 17px;

}

.posters{
    max-width: 120;
    max-height: 140;
    width: auto;
    height: auto;
}
